 <!-- Modal Structure -->
<div id="infoModal" class="modal">
  <div class="modal-content">
    <h4>{{model.header}}</h4>
    <p>{{model.text}}</p>
  </div>
  <div class="modal-footer">
    <a href="#!" {{action 'close'}} class=" modal-action modal-close waves-effect waves-green btn-flat">OK</a>
  </div>
</div>
