<nav class="bread-nav">
<div class="bread-nav-wrapper">
<div class="left hide-on-small-only">
{{#link-to 'index' class="breadcrumb"}}Home{{/link-to}}<span class="breadcrumb">{{breadcrumb}}</span>
</div>
<div class="q-search-wrapper right" >
{{input type="text" class="quicksearch" value=query id="searchinput"}}
	<label for="searchinput" class="quicksearch-label">
	<i class="material-icons quicksearch-icon">search</i>
	</label>
</div>
</div>
</nav>

