<div id="{{cid}}" style="position:relative;float:right;width:130px;height:130px;">
<span class="chart-percent" style="left: 50%;margin-left: -2em;margin-top: -0.5em;padding: 0;position: absolute;text-align: center;top: 50%;width: 4em;">{{topPercent}}%</span>
</div>

