<div class="row">
	<div class="regionData l12">
	<ul class="inline-list">
		<li>
		{{#link-to 'admin.language' class="waves-effect waves-light btn"}}Language{{/link-to}}
		{{#link-to 'admin.image' class="waves-effect waves-light btn"}}Image{{/link-to}}
		<!--a href="#" {{action "listItems" "useracc" on="click"}} class="waves-effect waves-light btn">User</a-->
		</li>
	</ul>
	</div>
</div>
{{outlet}}