<div class="general-votes row" style="margin:1em 0;">
<div class="s12 m7 col">
</div>
<div class="legend s12 col" style="text-align:center">
<a href="/profile/index" style="display:inline-block">
<img src="/assets/images/registration-required.png" class="left" style="padding-bottom:1em;">
</a>
</div>
</div>
