<div class="card hide-on-small-only">
	<div class="card-image" style="background-image:url('/assets/images/q1.jpg');height:180px">
		<span class="card-title white-text">{{loc-x '/index/ask_question'}}</span>
	</div>
	<div class="card-content">
		<p>{{loc-x '/index/ask_question_desc'}}</p>
	</div>
	<div class="card-action" style="padding-top:0">
	{{#link-to 'question.edit' 0 'new' class="waves-effect waves-light btn accent-btn white-text"}}{{loc-x '/button/post_question'}}{{/link-to}}
	</div>
</div>