{{#each legendItems as |item index|}}
<li style="float:left; margin-right:2em; margin-top:0.5em"><span class="color-series-{{item.index}} buble"></span><span style="color:{{item.color}}">{{item.text}}</span></li>
{{/each}}
